body, html, section, nav, section, h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-bottom: 32px;
}
.container-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 10;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background: #333;
    margin: 6px 0;
    transition: 0.4s;
    margin-bottom: 2%;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.topnav {
    padding-left: 40px;
}
.topnav a {

    font-family: 'Montserrant', sans-serif;
    font-size: 18px;
    color: black;
    margin-right: 30px;
    text-decoration: none;

}
.hidden {
    display: none;
}

* {

    box-sizing: border-box;
}

img {
    max-height: 100%;
    max-width: 100%;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    position: relative;
    width: 100%;
    padding: 0;
}
.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.hero-desc {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15%;
    padding-top: 17%;
}
.col-1{
    width: 100%;
    height: 100%;
}
.col-2 {
    width: 40%;
    flex-wrap: wrap;
}
.col-3 {
    width: 50%;
    background: white;
}
.col-4 {
    width: 60%;
}
.hero-img {
    width: 200px;
    height: 200px;
}
.paw-prints {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-top: 60%;
}
.active-text {
    color: #EEAA27;
    margin-bottom: 8%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 72px;
    line-height: 1.1;
    margin-bottom: 18px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
    margin-bottom: 26px;
    line-height: 1.6;
    font-weight: 400;
}
h3 {
    font-size: 48px;
    color: #EEAA27;
    padding-left: 10%;
    font-weight: 400;
}
h4 {
    font-size: 18px;
    color: rgba(0,0,0,0.4);
    font-weight: 400;
    margin-top: -1.5em;
}
h5 {
    font-size: 48px;
    color: #EEAA27;
    padding-left: 10%;
    font-weight: 400;
    margin-top: 15%;
    margin-bottom: 2%;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.6;
}
.bg-text {
    position: absolute;
    top: 15%;
    left: 8%;
}
.display-1 {
    font-family: 'Playfair Display', serif;
    font-size: 178px;
    opacity: 0.05; 
    line-height: 1.1;
}
input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.bone-btn {
    padding: 12px 36px;
    margin: 0;
    border: 0;
    outline: 0;
    background: #EEAA27;
    width: 50%;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
    border-radius: 2px;    

}
.bone-btn:hover, .contact-btn:hover{
    -webkit-box-shadow: 0px 30px 40px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 30px 40px rgba(0,0,0,0.15);
    box-shadow: 0px 30px 40px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: 0.3s;
}
.contact-btn {
    padding: 12px 36px;
    margin-left: 6%;
    margin-top: 4%;
    border: 0;
    outline: 0;
    background: #EEAA27;
    width: 50%;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
    border-radius: 2px;    

}
.square:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
} 
.light-text {
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.dark-text {
    font-size: 18px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.contact-me {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
}
.hero-img {
    position: absolute;
    top: 10%;
    right: 13%;
    width: 450px;
    height: 570px;
    -webkit-box-shadow: 20px 20px 40px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: 20px 20px 40px -8px rgba(0,0,0,0.25);
    box-shadow: 20px 20px 40px -8px rgba(0,0,0,0.25);    
}

.hero-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}
.square {
    width: 46%;
    height: 46%;
    margin: 2%;
}
.square img {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}
.container {
    display: flex;
    padding: 1% 10% 3% 10%;
}
.gallery  {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;
    margin-bottom: 1em;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
.gallery-bg {
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    z-index: -1;
}
.form-1 {

    margin-top: 5%;
    width: 800px;
    height: 120px;
    object-fit: cover;
    background: #f0f0f0;

}
.form-2 {
    width: 800px;
    background: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding-top: 10%;
    margin-bottom: 50px;
    padding-bottom: 40px;
    
}
.circle {
    z-index: 1;
    margin-top: -5.5em;
    margin-bottom: -8.5em;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    
}
.big-pic {
    height: 500px;
}
.circle-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 50%;
    border: 5px solid #f0f0f0; 
}
.pattern {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scroll-right {
    margin-left: 66%;
}

/* Contact Form*/ 

.form-name {
    margin-left: 6%;
    width: 700px;
    height: 50px;
    background: white;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
}
.form-text {
    margin-left: 6%;
    margin-top: 2%;
    width: 700px;
    height: 200px;
    background: white;
    border: 1px solid #f0f0f0;
    border-radius: 3px;    
}