body, html, section, nav, section, h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

img {
    max-height: 100%;
    max-width: 100%;
}
body {
    min-height: 5000px;
}
section {
    position: relative;
    width: 100%;
    padding: 0;
}
.section-gallery {
    background: #fdfdfd;
    margin: 0;
    padding: 0;
}
.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: blue;
}
.hero-desc {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15%;
    padding-top: 17%;
}
.col-2 {
    width: 40%;
    flex-wrap: wrap;
}
.col-3 {
    width: 50%;
    background: white;
}
.col-4 {
    width: 60%;
}
.hero-img {
    width: 200px;
    height: 200px;
}
.paw-prints {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-top: 20%;
}
.active-text {
    color: #EEAA27;
    bottom: 10%;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 72px;
    line-height: 1.1;
    margin-bottom: 18px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
    margin-bottom: 26px;
    line-height: 1.6;
    font-weight: 400;
}
h3 {
    font-size: 48px;
    color: #EEAA27;
    padding-left: 10%;
    padding-top: 3%;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5%;
    line-height: 1.6;
}
.bg-text {
    position: absolute;
    top: 15%;
    left: 8%;
}
.display-1 {
    font-family: 'Playfair Display', serif;
    font-size: 178px;
    opacity: 0.05; 
    line-height: 1.1;
}
.bone-btn {
    padding: 12px 36px;
    margin: 0;
    border: 0;
    outline: 0;
    background: #EEAA27;
    width: 50%;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
    border-radius: 2px;    

}
.bone-btn:hover {
    -webkit-box-shadow: 0px 30px 40px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 30px 40px rgba(0,0,0,0.15);
    box-shadow: 0px 30px 40px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: 0.3s;
}
.square:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
} 
.light-text {
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.hero-img {
    position: absolute;
    top: 10%;
    right: 13%;
    width: 450px;
    height: 570px;
    -webkit-box-shadow: 20px 20px 40px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: 20px 20px 40px -8px rgba(0,0,0,0.25);
    box-shadow: 20px 20px 40px -8px rgba(0,0,0,0.25);    
}

.hero-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}
.square {
    width: 46%;
    height: 46%;
    background: green;
    margin: 2%;
}
.square img {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}
.container {
    display: flex;
    padding: 1% 10% 3% 10%;
}
.gallery  {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;
    margin-bottom: 1em;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
.big-pic {
    height: 500px;
}
.big-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}